{% extends 'base.html' %}

{% block content %}
    <div class="divBoxHome">
        <div class="divBoxNav"> {% include 'navigation.html' %} </div>
        <div class="divBoxContent">
            <h1>At a Glance</h1>
            <div class="divContentCol">
                <div class="divCardContent">
                    {% include 'cards/accountFunds.html' %}
                </div><br/>
                <div class="divCardContent">
                    {% include 'cards/latestTransactions.html' %}
                </div>
            </div>
            <div class="divContentCol">
                <div class="divCardContent">
                    {% include 'cards/performanceSummary.html' %}
                </div>
            </div>
        </div>
    </div>
    
{% endblock content %}