{% extends 'base.html' %}

{% block content %}
    <div class="divBoxHome">
        <div class="divBoxNav"> {% include 'navigation.html' %} </div>
        <div class="divBoxContent">
            <h1>At a Glance</h1>
            <div class="divCardContent">
                {% include 'accountFundsCard.html' %}
            </div>
            <p>{{SQSQ}}</p>
            <h3>Now is the final prove of concept</h3>
            <div id="chart" class="chart"></div>
        </div>
    </div>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script type="text/javascript">
        var graphs = {{ FIG1 | safe }};
        Plotly.plot('chart',graphs,{});
    </script>
{% endblock content %}